/* auth.style.css */
/* css styling for login and signup pages */
/* last edited 4.27.25 by Jenna - added additional documentation comments */

/* AUTH FORM, on login page */
.login-form-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  left: 0;
  padding: 48px;
  text-align: left;
}

.login-form label {
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 0;
}

.login-form input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0;
  padding: 14px;
  width: 100%;
}

.login-button {
  display: block;
  margin: auto;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #daa821;
  color: white;
  border: none;
  font-size: 18px;
  width: 200px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

/* on signup page */
.sign-up-button {
  display: block;
  margin: auto;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
  width: 200px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

/* any errors in logging/signing in will appear in this box */
.error-box {
  text-align: center;
  padding: .25em .5em;
  margin-top: 40px;
}

.error-box .message p {
  font-size: normal;
  font-weight: 700;
}

.t-center {
  text-align: center;
}

