{% extends "base.html" %} {% block title %}
{% endblock %} 
{% load static %}
{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>

{% if request_error %}
<div class="notification">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}

<div class="top-bar">
  <div class="back-button-container">
    <span class="back-button" onClick="window.location.href = '/'">
      <strong>&#60; Back</strong>
    </span>
    </div>
  <div class="blog-title-in-article">{{about.title|safe}}</div>
  <div class="article-edit-button-container">
    {% if is_authenticated %}
    <button title="Edit article" class="edit-about-button" onClick="window.location.href = '/article/{{article.slug}}/edit'">
        <img width="16px" height="16px" src="{% static 'img/pen.png' %}" alt="edit-icon">
      </button>
    {% endif %}
  </div>
</div>

<main class="container">
  <header class="article-header">
    <h1>{{article.title|safe}}</h1>
    <div class="article-stats-container">
      <div class="article-view-count">
        <img class="stat-icons" height="14px" src="{% static 'img/eye-icon.png' %}" alt="eye-icon">
        <span class="details-number-span">{{article.views}}</span>
      </div>
      <div class="article-comment-count">
        <img class="stat-icons" height='14px' src="{% static 'img/comments-icon.png' %}" alt="text-bubble">
        <span class="details-number-span">{% if article.total_comments%}{{article.total_comments}}{% else %}0{% endif %}</span>
      </div>
    </div>
    <div class="article-header-date">{{article.created_at|date}}</div>
  </header>

  <section class="article-content">
    {{article.content|safe}}
  </section>
  
  <section class="comment-section">
    <h2 id="comments-section" class="comments-header">Comments</h2>
    {% comment %}
      Form 
    {% endcomment %}
    
    <form id="comment-form" method="POST" name="addcommentform">
      {% csrf_token %}
      
      <input id="delete" type="hidden" name="add_comment_form" value="DELETE" />
      <textarea 
        name="content" 
        id="comment-text"
        placeholder="Add comment..." 
        autocomplete="off" 
        oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' 
        onkeydown="submitWithEnter(event)"
      /></textarea>
      <button
        id="submit-comment-button"
        class="g-recaptcha comments-submit-button"
        data-sitekey="{{site_key}}"
        data-callback='onSubmitAddComment'
        data-action='submit'>Add</button>
    </form>
      <div class='delete-comment-container'>
      {% if is_authenticated %}
      <form method="POST" id="delete-comment-form" name="deletecommentsform">
        {% csrf_token %}
        <input id="delete" type="hidden" name="delete_comments_form" value="DELETE" />
        <input id="data" type="hidden" name="form_data" value="" />
        <button type="button" class="delete-comment-button with-tooltip">
          <span class="tooltiptext">Delete comments</span>
          <img width="16px" height="16px" src="{% static 'img/trash.png' %}" alt="trash-icon" />
        </button>
      </form>
      {% endif %}
      </div>
     {% for comment in comments %}
      <div class="comment-container">
        {% if is_authenticated %}
        <div class="checkbox-container">
            <label for="delete-comment">
                <input type="checkbox" name="delete-comment" id="{{comment.id}}" class="delete-comment-checkbox" onchange="check()">
            </label>
        </div>
        {% endif %}
        <div class="comment-content-container">
          <pre>{{comment.content}}</pre>
        </div>
      </div>
    {% endfor %}
  </section>

  {% comment %} 
    Signature
  {% endcomment %}

  <section class="article-header" style="margin-top: 80px; margin-bottom: 80px;">
    <span class="blog-title-in-article">{{about.title|safe}}</span>
    <h1>{{article.title|safe}}</h1>
    <div class="article-stats-container">
      <div class="article-view-count">
        <img class="stat-icons" height="14px" src="{% static 'img/eye-icon.png' %}" alt="eye-icon">
        <span class="details-number-span">{{article.views|safe}}</span>
      </div>
      <div class="article-comment-count">
        <img class="stat-icons" height='14px' src="{% static 'img/comments-icon.png' %}" alt="text-bubble">
        <span class="details-number-span">{% if article.total_comments%}{{article.total_comments}}{% else %}0{% endif %}</span>
      </div>
    </div>
    <div class="article-header-date">{{article.created_at|date}}</div>
  </section>

</main>
<script>

  function onSubmitAddComment(token) {
    document.getElementById("comment-form").submit();
  }

  const submitWithEnter = (event) => {
    if (event.keyCode === 13 && event.shiftKey === false) {
      event.preventDefault();
      document.getElementById("submit-comment-button").click();
    }
  }
  
  const check = () => {
    checkedValues = [];
    const checked = document.querySelectorAll('input[type="checkbox"]:checked');
    const deleteCommentButton = document.querySelector('.delete-comment-button');
    const hidden = document.querySelector('#data');
    for (let i = 0; i < checked.length; i++) {
      checkedValues.push(checked[i].id);
    }
    
    if(checked.length > 0) {
      deleteCommentButton.type = 'submit';
      deleteCommentButton.style.cursor = 'pointer';
      deleteCommentButton.style.opacity = '1';
      hidden.value = checkedValues;
      console.log(typeof hidden.value)
    } else {
      deleteCommentButton.type = 'button';
      deleteCommentButton.style.cursor = 'default';
      deleteCommentButton.style.opacity = '.4';
      hidden.value = null;
    }
  }
</script>
{% endblock %}
