<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Willamette Leaders</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
      html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    </style>
    {% block head %}
    <!-- this can be overruled -->
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <!-- Navbar -->
      <div class="topnav">
      <div class="topnav">
      <a href="{% url 'home' %}" class="topnav" title="Home"><i class="fa fa-home w3-margin-right"></i>WU Leaders</a>
      <a href="{% url 'directory' %}" class="topnav" title="Directory"><i class="fa fa-globe"></i></a>
      <a href="{% url 'profile' %}" class="topnav" title="Account"><i class="fa fa-user"></i></a>
      </div>
      </div>
      <div>{% block content %}{% endblock %}</div>
  </div>
  </body>
</html>
