{% extends "base.html" %} {% block title %}
{% endblock %}
{% load static %}
{% block content %}

{% if editor %}
  <button class = "editbtn" type = "button" onClick="window.location.href = '/club/{{club.slug}}/edit'"> Edit Club </button>
  <button class = "editbtn" type = "button" onClick="window.location.href = '/club/{{club.slug}}/make-post'"> Make Post </button>
  <button class = "editbtn" type = "button" onClick="window.location.href = '/club/{{club.slug}}/edit-members'"> Edit Members </button>
{% endif %}

{% if not follower %}
  {% if member not in club.memberlist %}
    <form action="" method="post">
      <input class = "followbtn" type="submit" value="Follow" />
    </form>
  {% endif %}
{% else %}
  <form action="" method="post">
      <input class = "followbtn" type="submit" name="upvote" value="Following" />
  </form>
{% endif %}

<div class="row">
    <div class = "leftcolumn">
    <div class="card">
    <h4><b>{{club.club_name}}</b></h4>
    {% if club.photo %}
      <img src="{{club.photo.url}}">
    {% endif %}
    <p><b>Description: </b>{{club.description}}<p>
    <p><b>Contact:</b></p>
    <p>Advisor: {{club.advisor_name}} {{club.advisor_email}}</p>
    <p>President: {{club.president_name}} {{club.president_email}}</p>
  </div>
    <div class="card">
        <h4><b>Club Members</b></h4>
        {% for person, role in member_roles_dict.items %}
          <p>{{person.name}} - {{role.role}}</p>
        {% endfor %}
    </div>
    </div>
  {% if club.postlist %}
    {% for post in club.postlist %}
    <div class = "rightcolumn">
      <div class="card">{{post.posted_at}}
        <img src="{{post.image.url}}">
        {% for author in post.authorlist %}
          {% if forloop.last %}
            <a href = "#" OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}</b></a>
          {% else %}
            <a href = "#" OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}, </b></a>
          {% endif %}
        {% endfor %}
        <p>{{post.caption}} </p>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class = "rightcolumn">
      <div class="card">
        <p>This club has not posted anything yet, check back later!</p>
      </div>
    </div>
  {% endif %}
</div>




{% endblock %}