{% extends "base.html" %} {% block title %}
{% endblock %}
{% load static %}
{% block content %}

{% if editor %}
  <button class = "editbtn" type = "editbtn" onClick="window.location.href = '/club/{{club.slug}}/edit'"> Edit Club </button>
  <button class = "editbtn" type = "button" onClick="window.location.href = '/club/{{club.slug}}/make-post'"> Make Post </button>
{% endif %}


<div class="row">
    <div class = "leftcolumn">
    <div class="card">
    <h4>Club Profile</h4>
    <p><b>Name:</b>{{club.club_name}}</p>
    <p>club_profile_picture</p>
    <p>Emails: user_emails</p>
  </div>
    <div class="card">
        <h4> Club Members </h4>
        {% for person in club.memberlist %}
          <p>{{person.name}}</p>
        {% endfor %}
    </div>
    </div>
  {% for post in club.postlist %}
  <div class = "rightcolumn">
    <div class="card">{{post.posted_at}}
      <img src="{{post.image.url}}">
      {% for author in post.authorlist %}
      <p OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}</b></p>
      {% endfor %}
      <p>{{post.caption}} </p>
    </div>
  </div>
  {% endfor %}
</div>




{% endblock %}