{% extends "base.html" %}
{% load static %}
{% block content %}
{% if request_error %}
<div class="notification notification-out">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}


<div class="row">
  <div class = "maincolumn">
    <div class="card">
      <h4> Club Directory </h4>
      {% for club in clublist %}
        <button type="button" class ="clubbtn" onclick="window.location.href = '/club/{{club.slug}}'"> {{club.club_name}} </button>
      {% endfor %}
    </div>
  </div>
</div>








{% endblock %}