<!--
  directory.html
  Club directory page displaying all clubs at Willamette as appears on their website; clicking on a club takes user to their club page

  Last edited:
  4.27.25 by Jenna - added additional documentation comments
  -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- if there are any errors, display them -->
{% if request_error %}
<div class="notification notification-out">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}

<!-- main directory, a bunch of buttons for each club -->
<div class="row">
  <div class = "maincolumn">
    <div class="card">
      <h4> Club Directory </h4>
      {% for club in clublist %}
        <button type="button" class ="clubbtn" onclick="window.location.href = '/club/{{club.slug}}'"> {{club.club_name}} </button>
      {% endfor %}
    </div>
  </div>
</div>








{% endblock %}