{% extends "base.html" %}
{% load static %}
{% block content %}
{% if request_error %}
<div class="notification notification-out">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}

<main class="container">

  <section class="articles-container">
    <div class="{% if is_authenticated %}heading-container-logged-in{% else %}heading-container-logged-out{% endif %}">
      {% if user.is_authenticated %}

        <div class="row">
          <div class = "leftcolumn">
            <div class="card">
              <h4>My Profile</h4>
              <p> <b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
              {% if member.photo %}
                <img src="{{member.photo.url}}">
              {% endif %}
              {% if member.pronouns %}
                <p> <b>Pronouns:</b> {{member.pronouns}}</p>
              {% endif %}
              <p> <b>Email:</b> {{user.email}}</p>
              <p> <b>Clubs:</b> </p>
              {% for club in member.clublist %}
                {% for role in member.roleslist %}
                  {% if role.club.club_name == club.club_name %}
                    <p><a href = "#" OnClick = "window.location.href = '/club/{{club.slug}}'">{{club.club_name}}</a> - {{role.role}}</p>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          {% if member.clublist %}
          {% for posted_at in posts_dates %}
            {% for date, post in posts_dict.items %}
            {% if posted_at == date %}
            <div class = "rightcolumn">
              <div class="card">{{post.posted_at}}
                <img src="{{post.image.url}}">
                {% for author in post.authorlist %}
                <a href = "#" OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}</b></a>
                {% endfor %}
                <p>{{post.caption}} </p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          {% endfor %}
          {% endif %}
        </div>  

      {% else %}
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
          <div class="w3-card w3-round w3-white">
            <div class="w3-container">
              <h4 class="w3-left">Continue With Willamette Email Address</h4>
              <hr>
              <hr>
              <div class="container">
                <p>This website only accepts Willamette University email addresses.</p>
                <hr>
                <div class="clearfix">
                  <a href = "{% url 'login' %}">
                    <button type="button" class="loginbtn">Login</button></a>
                  <a href = "{% url 'signup' %}">
                    <button type="button" class="loginbtn">Sign Up</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>


      {% comment %}
      <p> You are not logged in </p>
      <a href = "{% url 'login' %}">Log In</a>
      {% endcomment %}
      {% endif %}








{% comment %}
      <h1 class="article-gallery-title">Articles</h1>
      {% if is_authenticated %}
      <form method="POST" id="delete-article-form" name="delete-articles-form">
        {% csrf_token %}
        <input id="id-list-input" type="hidden" name="id-list" value="" />
        <div class='delete-article-container with-tooltip'>
          <span class="tooltiptext">Delete articles</span>
          <button class="delete-article-button" type="button"><img width="16px" height="16px" src="{% static 'img/trash.png' %}" alt="trash-icon" /></button>
        </div>
      </form>
      {% endif %}
    </div>
    <hr>
    {% comment %}
      New article button
    {% endcomment %}
    <section class="article-gallery">
    {% for article in articles %}
      <article>
        <div class="delete-article">
          {% if is_authenticated %}
          <label for="delete-article">
              <input type="checkbox" name="delete-article" id="{{article.id}}" class="delete-article-checkbox" onchange="check()">
          </label>
          {% endif %}
        </div>
        {% comment %}
          Valid date sequence for the tag <time> is year-month-day
        {% endcomment %}
        {% if article.img_source %}
        <div class="article-thumbnail-container" onClick="window.location.href = '/article/{{article.slug}}'">
            <img src="{{article.img_source}}" alt="Article thumbnail image">
        </div>
        {% endif %}
        <div class="{% if article.img_source %}article-details-container-with-thumbnail{% else %}article-details-container-no-thumbnail{% endif %}" onClick="window.location.href = '/article/{{article.slug}}'">
          <div class="article-details-container--div">
            <div>{{article.created_at|date}}</div>
            <div class="article-details-container--div--text-div">
              <h2 class="header-truncate {% if article.img_source %}with-thumbnail{% endif %}">{{article.title|safe}}</h2>
              <p class="truncate article-details-container--div--text-div--description {% if article.imgSource %}with-thumbnail{% endif %}">{{article.content|safe}}</p>
            </div>
          </div>
        </div>
        <div class="article-stats-container">
          <div class="article-view-count">
            <img class="stat-icons" src="{% static 'img/eye-icon.png' %}" alt="eye-icon">
            <span class="details-number-span">{{article.views}}</span>
          </div>
          <div class="article-comment-count">
            <img class="stat-icons" src="{% static 'img/comments-icon.png' %}" alt="text-bubble">
            <span class="details-number-span">{% if article.total_comments%}{{article.total_comments}}{% else %}0{% endif %}</span>
          </div>
        </div>
      </article>

    {% endfor %}
    </section>

  </section>
</main>
<script>
  const paragraphs = document.querySelectorAll(".truncate")
  const headers = document.querySelectorAll('.header-truncate')
  headers.forEach(header => {
    const elementStyles = getComputedStyle(header)
    const elementHeight = header.clientHeight - (parseFloat(elementStyles.paddingBottom)+parseFloat(elementStyles.paddingTop))
    if(header.classList.contains('with-thumbnail')) {
      header.style.webkitLineClamp = 1
    } else {
      header.style.webkitLineClamp = 2
      header.style.height = '75px';
    }
  })
  paragraphs.forEach(description => {
    const elementStyles = getComputedStyle(description)
    const elementHeight = description.clientHeight - (parseFloat(elementStyles.paddingBottom)+parseFloat(elementStyles.paddingTop))
    let lines = elementHeight / parseFloat(elementStyles.lineHeight)
    elementHeight

    lines = Math.floor(lines)
  })
  const fetchCheckedArticles = () => {
    const checkedArticles = document.querySelectorAll('input[type=checkbox]:checked')
    deleteArticlesComments('article', checkedArticles)
  }

  const check = () => {
    checkedValues = [];
    const checked = document.querySelectorAll('input[type="checkbox"]:checked');
    const deleteArticleButton = document.querySelector('.delete-article-button');
    const deletedArticleContainer = document.querySelector('.delete-article-container');
    const idListInput = document.querySelector('#id-list-input');
    for (let i = 0; i < checked.length; i++) {
      checkedValues.push(checked[i].id);
    }
    
    if(checked.length > 0) {
      deleteArticleButton.type = 'submit';
      deleteArticleButton.style.cursor = 'pointer';
      deleteArticleButton.style.opacity = '1';
      idListInput.value = checkedValues;
    } else {
      deleteArticleButton.type = 'button';
      deleteArticleButton.style.cursor = 'default';
      deleteArticleButton.style.opacity = '.4';
      idListInput.value = null;
    }
  }  

</script>
{% endblock %}