{% extends "base.html" %}
{% load static %}
{% block content %}
{% if request_error %}
<div class="notification notification-out">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<div id="edit-blog-about" >
  <div class="edit-button-container">
  {% if is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}  
      <input type="submit" value="Logout" class="logout-button">
    </form>
    <button title="Edit about blog" class="edit-about-button" onclick="window.location.href = '/edit-about'" >
      <img width="16px" height="16px"src="{% static 'img/pen.png' %}" alt="edit-icon">
    </button>
  {% endif %}
  </div>
</div>


<main class="container">
  <div class="about">
    <header class="about-header">

    <section class="blog-content">
      {{ about.title|safe }}
      {{ about.content|safe }}
    </section>
  </div>
  {% comment %}
    Articles gallery
  {% endcomment %}

  <section class="articles-container">
    <div class="{% if is_authenticated %}heading-container-logged-in{% else %}heading-container-logged-out{% endif %}">
      {% if user.is_authenticated %}
      <div class='new-article-container' onClick="window.location.href = '/new-article'">
        <button class="add-article-button"><img width="16px" height="16px" src="{% static 'img/plus-icon.png' %}" alt="plus-icon" /></button>
        <span class="add-article-text d-none-mobile">Add</span>
      </div>
      <h3> Hi {{user.username}}!</h3>
      {% else %}
      <p> You are not logged in </p>
      <a href = "{% url 'login' %}">Log In</a>
      {% endif %}

      <h1 class="article-gallery-title">Articles</h1>
      {% if is_authenticated %}
      <form method="POST" id="delete-article-form" name="delete-articles-form">
        {% csrf_token %}
        <input id="id-list-input" type="hidden" name="id-list" value="" />
        <div class='delete-article-container with-tooltip'>
          <span class="tooltiptext">Delete articles</span>
          <button class="delete-article-button" type="button"><img width="16px" height="16px" src="{% static 'img/trash.png' %}" alt="trash-icon" /></button>
        </div>
      </form>
      {% endif %}
    </div>
    <hr>
    {% comment %}
      New article button
    {% endcomment %}
    <section class="article-gallery">
    {% for article in articles %}
      <article>
        <div class="delete-article">
          {% if is_authenticated %}
          <label for="delete-article">
              <input type="checkbox" name="delete-article" id="{{article.id}}" class="delete-article-checkbox" onchange="check()">
          </label>
          {% endif %}
        </div>
        {% comment %}
          Valid date sequence for the tag <time> is year-month-day
        {% endcomment %}
        {% if article.img_source %}
        <div class="article-thumbnail-container" onClick="window.location.href = '/article/{{article.slug}}'">
            <img src="{{article.img_source}}" alt="Article thumbnail image">
        </div>
        {% endif %}
        <div class="{% if article.img_source %}article-details-container-with-thumbnail{% else %}article-details-container-no-thumbnail{% endif %}" onClick="window.location.href = '/article/{{article.slug}}'">
          <div class="article-details-container--div">
            <div>{{article.created_at|date}}</div>
            <div class="article-details-container--div--text-div">
              <h2 class="header-truncate {% if article.img_source %}with-thumbnail{% endif %}">{{article.title|safe}}</h2>
              <p class="truncate article-details-container--div--text-div--description {% if article.imgSource %}with-thumbnail{% endif %}">{{article.content|safe}}</p>
            </div>
          </div>
        </div>
        <div class="article-stats-container">
          <div class="article-view-count">
            <img class="stat-icons" src="{% static 'img/eye-icon.png' %}" alt="eye-icon">
            <span class="details-number-span">{{article.views}}</span>
          </div>
          <div class="article-comment-count">
            <img class="stat-icons" src="{% static 'img/comments-icon.png' %}" alt="text-bubble">
            <span class="details-number-span">{% if article.total_comments%}{{article.total_comments}}{% else %}0{% endif %}</span>
          </div>
        </div>
      </article>

    {% endfor %}
    </section>
  </section>
</main>
<script>
  const paragraphs = document.querySelectorAll(".truncate")
  const headers = document.querySelectorAll('.header-truncate')
  headers.forEach(header => {
    const elementStyles = getComputedStyle(header)
    const elementHeight = header.clientHeight - (parseFloat(elementStyles.paddingBottom)+parseFloat(elementStyles.paddingTop))
    if(header.classList.contains('with-thumbnail')) {
      header.style.webkitLineClamp = 1
    } else {
      header.style.webkitLineClamp = 2
      header.style.height = '75px';
    }
  })
  paragraphs.forEach(description => {
    const elementStyles = getComputedStyle(description)
    const elementHeight = description.clientHeight - (parseFloat(elementStyles.paddingBottom)+parseFloat(elementStyles.paddingTop))
    let lines = elementHeight / parseFloat(elementStyles.lineHeight)
    elementHeight

    lines = Math.floor(lines)
  })
  const fetchCheckedArticles = () => {
    const checkedArticles = document.querySelectorAll('input[type=checkbox]:checked')
    deleteArticlesComments('article', checkedArticles)
  }

  const check = () => {
    checkedValues = [];
    const checked = document.querySelectorAll('input[type="checkbox"]:checked');
    const deleteArticleButton = document.querySelector('.delete-article-button');
    const deletedArticleContainer = document.querySelector('.delete-article-container');
    const idListInput = document.querySelector('#id-list-input');
    for (let i = 0; i < checked.length; i++) {
      checkedValues.push(checked[i].id);
    }
    
    if(checked.length > 0) {
      deleteArticleButton.type = 'submit';
      deleteArticleButton.style.cursor = 'pointer';
      deleteArticleButton.style.opacity = '1';
      idListInput.value = checkedValues;
    } else {
      deleteArticleButton.type = 'button';
      deleteArticleButton.style.cursor = 'default';
      deleteArticleButton.style.opacity = '.4';
      idListInput.value = null;
    }
  }  

</script>
{% endblock %}