<!--
home.html
Home page, landing page after login, contains profile info and posts of all followed/member clubs

Last edited:
4.27.25 by Jenna - added additional documentation comments
-->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- if any errors, display to user -->
{% if request_error %}
<div class="notification notification-out">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}

<main class="container">

  <section class="articles-container">
    <div class="{% if is_authenticated %}heading-container-logged-in{% else %}heading-container-logged-out{% endif %}">
      
      <!-- check if user is logged in -->
      {% if user.is_authenticated %}

        <div class="row">
          <!-- left side with user profile info -->
          <div class = "leftcolumn">
            <div class="card">
              <h4>My Profile</h4>
              <p> <b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
              {% if member.photo %}
                <img src="{{member.photo.url}}">
              {% endif %}
              {% if member.pronouns %}
                <p> <b>Pronouns:</b> {{member.pronouns}}</p>
              {% endif %}
              <p> <b>Email:</b> {{user.email}}</p>
              <p> <b>Clubs:</b> </p>
              <!-- provides all clubs the user is a member of/following and their role -->
              {% for club in member.clublist %}
                {% for role in member.roleslist %}
                  {% if role.club.club_name == club.club_name %}
                    <p><a href = "#" OnClick = "window.location.href = '/club/{{club.slug}}'">{{club.club_name}}</a> - {{role.role}}</p>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          <!-- on right side, all posts of followed/member clubs by most recent -->
          {% if member.clublist %}
          {% for posted_at in posts_dates %}
            {% for date, post in posts_dict.items %}
            {% if posted_at == date %}
            <div class = "rightcolumn">
              <div class="card">{{post.posted_at}}
                <img src="{{post.image.url}}">
                <!-- displaying all authors as links to their club page -->
                {% for author in post.authorlist %}
                  {% if forloop.last %}
                    <a href = "#" OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}</b></a>
                  {% else %}
                    <a href = "#" OnClick = "window.location.href = '/club/{{author.slug}}'"><b>{{author.club_name}}, </b></a>
                  {% endif %}
                {% endfor %}
                <p>{{post.caption}} </p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          {% endfor %}
          {% endif %}
        </div>  

      <!-- user is not logged in, provide links to login and signup button -->
      {% else %}
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
          <div class="w3-card w3-round w3-white">
            <div class="w3-container">
              <h4 class="w3-left">Continue With Willamette Email Address</h4>
              <hr>
              <hr>
              <div class="container">
                <p>This website only accepts Willamette University email addresses.</p>
                <hr>
                <div class="clearfix">
                  <a href = "{% url 'login' %}">
                    <button type="button" class="loginbtn">Login</button></a>
                  <a href = "{% url 'signup' %}">
                    <button type="button" class="loginbtn">Sign Up</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endif %}

  </section>
</main>

{% endblock %}