<!--
make-post.html
Page for club exec members to make a post for the club

Last edited:
4.27.25 by Jenna - added additional documentation comments
  -->

{% extends "base.html" %} {% block title %}
{% endblock %}
{% load static %}
{% block content %}


<head>
  <meta charset = "UTF-8">
  <title>Make Post</title>
</head>
<body>
  <!-- form for user to fill in info to make a post -->
    <form method = "post" enctype = "multipart/form-data">
      <p> Note: large file sizes not supported </p>
        {% csrf_token %}
        {{ form.picture.label_tag }}
        {{ form.picture }}
        <br>
        {{ form.caption.label_tag }}
        {{ form.caption }}
        <!-- dropdown to select any collaborators for the post -->
        <div class="dropdown">
            <button type="button" class = "dropbtn">Collaborators:</button>
                <div id="clubDropdown" class="dropdown-content">
                    {{form.collaborators}}
                </div>
        </div>
        <button type = "submit">Upload</button>
    </form>
</body>



{% endblock %}