<!--
profile.html
Page for the user to see their own profile info and buttons to edit and logout

Last edited:
4.27.25 by Jenna - added additional documentation comments
-->

{% extends "base.html" %} {% block title %}
{% endblock %}
{% load static %}
{% block content %}


<div class="row">
    <div class="centercolumn">
        <!-- button for the user to logout -->
        <a href = "{% url 'logout' %}">
            <button type="button" class="logoutbtn">Logout</button></a>

        <!-- main profile info: photo, name, pronouns, email, clubs user is a member of and their roles -->
        <div class="card">
            <h4>My Profile</h4>
            {% if member.photo %}
                <img src="{{member.photo.url}}" width = "300" height = "100">
            {% endif %}
            <p><b>Name:</b> {{user.first_name}} {{user.last_name}}</p>
            {% if member.pronouns %}
                <p><b>Pronouns:</b> {{member.pronouns}} </p>
            {% endif %}
            <p><b>Email:</b> {{user.email}}</p>
            <p> <b>Clubs:</b> </p>
            <!-- logic to display each club and the role -->
            {% for club in member.clublist %}
                {% for role in member.roleslist %}
                  {% if role.club.club_name == club.club_name %}
                    <p>{{club.club_name}} - {{role.role}}</p>
                  {% endif %}
                {% endfor %}
            {% endfor %}

            <!-- edit profile button -->
            <a href="{% url 'edit-profile' %}">
                <button class="button" type = "button">Edit Profile</button></a>
        </div>
    </div>
</div>




{% endblock %}