{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/ckeditor.css'%}" />
{% endblock %}
{% block content %}
{% if request_error %}
<div class="notification">
  <div class="content">
    <div class="identifier"></div>
    <div class="text">{{request_error}}</div>
  </div>
</div>
{% endif %}
<div id="toolbar"></div>
<div id="editor-type">{{ title }}</div>
<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {{ form.non_field_errors }}
  <div id='title-wrapper' class="field-wrapper">
    {{ form.title.errors }}
    {{ form.title }}
  </div>
  <hr>
  <div id='content-wrapper' class="field-wrapper">
    {{ form.content.errors }}
    {{ form.content }}
  </div>
  <div id="save-and-cancel">
    <input type="submit" name="save" id="save-button" class="save-button" value="Save">
    <input type="submit" name="cancel" id="cancel-button" class="cancel-button" value="Close">
  </div>
</form>
<script>
  CKEDITOR.addCss('.cke_editable img { max-width: 100% !important; height: auto !important; }');
</script>
{% endblock %}