{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.style.css' %}" />
{% endblock %}

{% block content %}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <div class="w3-card w3-round w3-white">
    <div class="w3-container">
      <p>This page only accepts Willamette University email addresses.</p>
      <form method="post" class="login-form" id="login-form">
        {% csrf_token %}

        <h1 class="t-center">Sign In</h1>
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <button class="login-button" type = "submit">Login</button>

        <a href="{% url 'signup'%}">
        <button class="sign-up-button" type = "button">Sign Up</button></a>


        <div class="error-box">
          {% if errors %}
          <div class="message">
            <p>Credentials didn't match.</p>
            <p>Please try again.</p>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}