 {% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.style.css' %}" />
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <div class="w3-card w3-round w3-white">
    <div class="w3-container">
      <p>This page only accepts Willamette University email addresses.</p>
      <form method="post" class="signup-form" id="signup-form">
        {% csrf_token %}

        <h1 class="t-center">Sign Up</h1>
        {{ form.first_name.label_tag }}
        {{ form.first_name }}

        {{ form.last_name.label_tag }}
        {{ form.last_name }}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <button class="login-button" type = "submit">Signup</button>

        <div class="error-box">
          {% if errors %}
          <div class="message">
            <p>Credentials didn't match.</p>
            <p>Please try again.</p>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<h4>Welcome to Willamette Leaders, {{user.username}}</h4>
<a href = "{% url 'login' %}">
  <button class = "login-button" type = "button">Log In</button></a>
{% endif %}


{% endblock %}